apiVersion: apps/v1
kind: Deployment
metadata:
  name: hi-ip
  labels:
    app: ip-master
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ip-master
  template:
    metadata:
      labels:
        app: ip-master
    spec:
      containers:
      - name: hi-ip
        imagePullPolicy: Always
        image: afrancoc2000/hi-ip:v2
        ports:
        - containerPort: 80
---
kind: Service
apiVersion: v1
metadata:
  name: cluster-hi-ip
spec:
  type: LoadBalancer
  selector:
    app: ip-master
  ports:
  - protocol: TCP
    name: management
    port: 80
